//mixin que le quita el diseño a las listas
@mixin unStyleList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 112, 112);
}

//mixin para que el sitio sea responsivo
@mixin container($anchoMaximo, $ancho, $columns) {
    width: $ancho;
    max-width: $anchoMaximo;
    margin: auto;
    text-align: center;
    display: grid;
    $fr: 1fr;
    @while $columns != 0{
        $fr: $fr + #{" 1fr"};
        $columns: $columns - 1;
    }
    grid-template-columns: $fr;
    grid-gap: 1rem;
}

//agrega estilo a la tarjeta de los productos
@mixin productStyle {
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

//creamos un mixin que le aplica diseño a las imagenes
@mixin imagesDesign {
    width: 100%;
    height: auto;
    animation-name: tamanio;
    animation-duration: 5s;
}

//creamos un mixin para aplicarle estilo al titulo
@mixin title($size){
    font-size: $size;
    color: rgb(26, 24, 24);
    text-align: center;
}

// deseño para celular hasta un maximo de 768px
@media only screen and (max-width: 768px) {
//diseño del navbar para celular
  nav.navbar ul{
        @include unStyleList
    }

    nav.navbar ul li {
        float: left;
    }

    nav.navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    //forma en la cual se mostrara el contenido en celular
    .container{
        @include container(300px, 100%, 0);
    }

    //agrega el estilo que van a tener los produtos
    .container div {
        @include productStyle
    }

    //le aplicamos diseño a las imagenes
    div img {
        @include imagesDesign
    }

    //le agregamos estilo al titulo de celular
    h1{
        @include title(30px)
    }
}

// diseño para tablets, desde un minimo de 768px
@media only screen and (min-width: 768px) {
//diseño del navbar para tablets
  nav.navbar ul{
        @include unStyleList
    }

    nav.navbar ul li {
        float: left;
    }

    nav.navbar ul li.contactenos{
        float: right;
    }

    nav.navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    //forma en la cual se mostrara el contenido en tablets
    .container{
        @include container(800px, 95%, 2);
    }

    //agrega el estilo que van a tener los produtos
    .container div {
        @include productStyle
    }

    //le aplicamos diseño a las imagenes
    div img {
        @include imagesDesign
    }

    //le agregamos estilo al titulo en tablet
    h1{
        @include title(40px)
    }

} 

// diseño para pc y laptops, desde un minimo de 992px
@media only screen and (min-width: 992px) {
//diseño del navbar para pc y laptops
    nav.navbar ul{
        @include unStyleList
    }

    nav.navbar ul li {
        float: left;
    }

    nav.navbar ul li.contactenos{
        float: right;
    }

    nav.navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav.navbar ul li a:hover {
        background-color: rgb(124, 124, 124);
    }

    //forma en la cual se mostrara el contenido en pc
    .container{
        @include container(1500px, 90%, 4)
    }

    //agrega el estilo que van a tener los produtos
    .container div {
        @include productStyle
    }

    //le aplicamos diseño a las imagenes
    div img {
        @include imagesDesign
    }

    //le agregamos estiulo al titulo en pc y
    h1{
        @include title(50px)
    }
}